@using Microsoft.EntityFrameworkCore
@model OnlineBookingSystem.Models.Wrapper

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Your Reservations</title>
    @inject OnlineBookingSystem.Models.RestaurantContext _context
    @inject OnlineBookingSystem.Models.IdentityContext _identity;
    <style>
        body {
            background-color: #f0f8ff;
        }

        .container {
            using System.Data.Entity;
            max-width: 960px;
        }

        using Microsoft.AspNet.Identity;

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            border-color: #007bff;
            text-align: center;
            /* Center content inside the card */
        }

        .card-title {
            color: #007bff;
        }

        .btn-primary,
        .btn {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        form {
            display: inline-block;
            /* To align form buttons next to each other */
        }
    </style>
</head>

<body>
    <h1 class="text-center my-4">Your Reservations</h1>

    <div class="container">
        <div class="row justify-content-center">

            @foreach (var reservation in Model.Reservations)
            {
                var restaurant = Model.Restaurants.FirstOrDefault(r => r.RestaurantId == _identity.Users.Find(User).reservations.FirstOrDefault(r => r.ReservationId == reservation.ReservationId).RestaurantId);

                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="card mb-3 w-100">
                        <div class="card-body">
                             @if (restaurant != null)
                            {
                                <h2 class="card-title">@restaurant.Name</h2>
                                <h3 class="card-text">@restaurant.Description</h3>
                            } 
                            <p class="card-text">Date: @reservation.Date <br /> Time: @reservation.Time</p>
                            <div class="d-flex justify-content-center align-items-center flex-column">
                                <a class="btn btn-primary mb-2" asp-action="MakeNewRes"
                                    asp-route-restaurantId="@reservation.RestaurantId"
                                    asp-route-reservationId="@reservation.ReservationId">Edit</a>
                                <form asp-action="DeleteReservation" asp-route-reservationId="@reservation.ReservationId"
                                    method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                <br />
                                <a class="btn btn-secondary mb-2" asp-action="FeedbackForm"
                                    asp-route-reservationId="@reservation.ReservationId">Provide Feedback</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>